@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@400;500;700&display=swap');

:root {
	font-size: 100%;
	font-size: 16px;
	line-height: 1.5;

}

* {
    margin: 0;
    padding: 0;
    font-family: 'Zilla Slab', serif;
	font-weight: 500;
}

/* fist navbar */

.nav {
    display: flex;
    justify-content: space-between;
    height: 50px;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5 )),url('./uploads/login.jpg');
	background-size: cover;
}

.nav li {
    list-style-type: none;
}

.logo {
    margin: 0px 5px 5px 10px;
    font-family: 'Lobster', cursive;
    font-weight: 700;
    font-size: 2rem;
    color: #feda6a;
}

.username {
    margin: 5px 10px 5px 5px;
    font-weight: 700;
    font-size: 1.5rem;
    color: #ffffff;
}

/* first navbar endhere */


/* second navbar */

.secNav-phone {
    height: 35px;
    display: flex;
    justify-content: space-between;
}

.secNav-phone li {
    list-style-type: none;
}

.secNav-pc {
    display: none;
}

.status-select {
    width: 5.3rem;
    height: 2.2rem;
}

.status-name {
    display: flex;
    justify-content: center;
}

.addNewTaskButton {
    font-size: 1.5rem;
    margin: 5px 20px 5px 20px;
}

/* end here */

/* tasks */
.status-name {
    font-family: 'Zilla Slab', serif;
    font-weight: 700;
}
/* end here */

.card-area {
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.card {
    margin: 30px 20px 20px 30px;
    width: 350px;
    height: 350px;
    border-radius: 20px;
    background: #ffffff;
    box-shadow:  5px 5px 10px #d4d4d4,
                 -5px -5px 10px #ffffff;
}

.card:hover {
    transform: translate(-10px, -10px);
    transition: 200ms ease-out;
}

.card-head {
    display: flex;
    justify-content: space-between;
    border-bottom: solid black;
}

.card-head .task-title {
    /* line-height: 95%; */
    font-size: 32px;
    margin: 5px 5px 5px 10px;
}

.card-body {
    padding: 1rem 0.75rem;
}

.card-body .task-content {
    font-size: 16px;
}

.card-foot {
    display: flex;
    justify-content: space-between;
    border-top: solid black;
}

.card-foot .assignto{
    margin: 5px 20px 5px 5px;
}

.card-foot .status {
    margin: 5px 5px 5px 20px;
}

.card-foot .due_date {
    margin: 5px 5px 5px 5px;
}

/* modal */

.modal-title {
    font-weight: 700;
    font-size: 1.5rem;
    font-family: 'Zilla Slab', serif;
    color: #3a4660;
}

.modal-btn {
    background: #283747;
    color: white;
    font-family: 'Zilla Slab', serif;
    border-radius: 8px;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    font-weight: 700;
}

.modal-body 
.form-control {
	box-sizing: border-box;
	border-radius: 8px;
	border: 1px solid #c4c4c4;
	font-size: 0.9rem;
	color: #3a4660;
	outline: none;
}

.col-form-label {
    font-size: 1.4rem;;
}


@media screen and (min-width: 900px) {
    .card-area {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
    }

    .secNav-phone {
        display: none;
    }

    .secNav-pc {
        height: 35px;
        background-color: #ffffff;
        display: flex;
        justify-content: space-between;
    }

    .secNav-pc {
        list-style-type: none;
    }

    .secNav-pc-status {
        display: flex;
        
    }
    
    .secNav-pc-status-name {
        margin: 5px 20px 5px 20px;
        font-size: 1.2rem;
    }
}